*.o
*.a
*~
*\#
typescript
autom4te.cache/
config.log
config.status
Makefile.defs
Test/BinGenerationTest
Test/BinGenerationTest.xml
Test/BinGenerationTest.mzML
Test/CalibrationTests
Test/SearchEngineTests
Test/IndexEngineTest
Test/XLTest
Test/XLSearchOutputTest
Test/TestData
Test/TestProteinSplitAcrossFiles/
Test/TestProteinSplitAcrossFiles1.mzML
Test/TestProteinSplitAcrossFiles2.mzML
Test/Task Settings/
Test/config.toml
Test/TestToml
Test/elements.dat
Test/proteases.tsv
Test/pep.XML.pep.XM

